.env
node_modules
node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

.DS_Store
backend/package-lock.json
backend/package-lock.json
backend/response.png
backend/response.html
backend/package-lock.json
